USE [master]
GO
/****** Object:  Database [MillonarioDB]    Script Date: 2/11/2025 1:03:46 p. m. ******/
CREATE DATABASE [MillonarioDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MillonarioDB', FILENAME = N'D:\Programas\MSSQL16.MSSQLSERVER01\MSSQL\DATA\MillonarioDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MillonarioDB_log', FILENAME = N'D:\Programas\MSSQL16.MSSQLSERVER01\MSSQL\DATA\MillonarioDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MillonarioDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MillonarioDB]
GO
/****** Object:  Table [dbo].[Opciones]    Script Date: 2/11/2025 1:03:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Opciones](
	[OpcionId] [int] IDENTITY(1,1) NOT NULL,
	[PreguntaId] [int] NOT NULL,
	[TextoOpcion] [nvarchar](500) NOT NULL,
	[EsCorrecta] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OpcionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partidas]    Script Date: 2/11/2025 1:03:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partidas](
	[PartidaId] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NULL,
	[FechaInicio] [datetime] NULL,
	[FechaFin] [datetime] NULL,
	[DineroGanado] [int] NULL,
	[RespuestasCorrectas] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PartidaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Preguntas]    Script Date: 2/11/2025 1:03:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Preguntas](
	[PreguntaId] [int] IDENTITY(1,1) NOT NULL,
	[Texto] [nvarchar](1000) NOT NULL,
	[Categoria] [nvarchar](100) NULL,
	[Dificultad] [int] NOT NULL,
	[Premio] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PreguntaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RespuestasPartida]    Script Date: 2/11/2025 1:03:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RespuestasPartida](
	[RespuestaPartidaId] [int] IDENTITY(1,1) NOT NULL,
	[PartidaId] [int] NOT NULL,
	[PreguntaId] [int] NOT NULL,
	[OpcionSeleccionadaId] [int] NULL,
	[EsCorrecta] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[RespuestaPartidaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 2/11/2025 1:03:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[UsuarioId] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [nvarchar](50) NOT NULL,
	[NombreCompleto] [nvarchar](100) NULL,
	[FechaCreacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Partidas_UsuarioId]    Script Date: 2/11/2025 1:03:46 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Partidas_UsuarioId] ON [dbo].[Partidas]
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Preguntas_Dificultad]    Script Date: 2/11/2025 1:03:46 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Preguntas_Dificultad] ON [dbo].[Preguntas]
(
	[Dificultad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Opciones] ADD  DEFAULT ((0)) FOR [EsCorrecta]
GO
ALTER TABLE [dbo].[Partidas] ADD  DEFAULT (getdate()) FOR [FechaInicio]
GO
ALTER TABLE [dbo].[Partidas] ADD  DEFAULT ((0)) FOR [DineroGanado]
GO
ALTER TABLE [dbo].[Partidas] ADD  DEFAULT ((0)) FOR [RespuestasCorrectas]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Opciones]  WITH CHECK ADD  CONSTRAINT [FK_Opciones_Preguntas] FOREIGN KEY([PreguntaId])
REFERENCES [dbo].[Preguntas] ([PreguntaId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Opciones] CHECK CONSTRAINT [FK_Opciones_Preguntas]
GO
ALTER TABLE [dbo].[Partidas]  WITH CHECK ADD  CONSTRAINT [FK_Partidas_Usuarios] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([UsuarioId])
GO
ALTER TABLE [dbo].[Partidas] CHECK CONSTRAINT [FK_Partidas_Usuarios]
GO
ALTER TABLE [dbo].[RespuestasPartida]  WITH CHECK ADD  CONSTRAINT [FK_RP_Opciones] FOREIGN KEY([OpcionSeleccionadaId])
REFERENCES [dbo].[Opciones] ([OpcionId])
GO
ALTER TABLE [dbo].[RespuestasPartida] CHECK CONSTRAINT [FK_RP_Opciones]
GO
ALTER TABLE [dbo].[RespuestasPartida]  WITH CHECK ADD  CONSTRAINT [FK_RP_Partidas] FOREIGN KEY([PartidaId])
REFERENCES [dbo].[Partidas] ([PartidaId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RespuestasPartida] CHECK CONSTRAINT [FK_RP_Partidas]
GO
ALTER TABLE [dbo].[RespuestasPartida]  WITH CHECK ADD  CONSTRAINT [FK_RP_Preguntas] FOREIGN KEY([PreguntaId])
REFERENCES [dbo].[Preguntas] ([PreguntaId])
GO
ALTER TABLE [dbo].[RespuestasPartida] CHECK CONSTRAINT [FK_RP_Preguntas]
GO
USE [master]
GO
